<sebm-google-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <sebm-google-map-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.id, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)">

    <!--
    <sebm-google-map-info-window>
      <strong>InfoWindow content</strong>
    </sebm-google-map-info-window>
    -->

  </sebm-google-map-marker>

</sebm-google-map>
