body {
  background-color: #eeeeee;
  color: white;
  font-family: 'Roboto', 'Helvetica', 'Arial' ,sans-serif;
  text-rendering: optimizeLegibility;
}

/* Not in the component */
nav {
  z-index: 10;
  position: relative;
}

.card .card-content .card-title {
    line-height: 30px;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  text-align: center;
}

.preloader8 {
   width:30px;
   height:30px;
   display:inline-block;
   padding:0px;
   text-align:left;
}
.preloader8 span {
   position:absolute;
   display:inline-block;
   width:30px;
   height:30px;
   border-radius:100%;
   background:#000000;
   -webkit-animation:preloader8 1.6s linear infinite;
   animation:preloader8 1.6s linear infinite;
}
.preloader8 span:last-child {
   animation-delay:-0.8s;
   -webkit-animation-delay:-0.8s;
}
@keyframes preloader8 {
   0% {transform: scale(0, 0);opacity:0.5;}
   100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes preloader8 {
   0% {-webkit-transform: scale(0, 0);opacity:0.5;}
   100% {-webkit-transform: scale(1, 1);opacity:0;}
}
