/* Master Styles */
h1 {
  line-height: 1.3;
  font-weight: 100;
  font-size: 3.625rem;
  margin: 1.75rem 0 2.625rem 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
body {
  color: white;
  font-family: 'Roboto', 'Helvetica', 'Arial' ,sans-serif;
  text-rendering: optimizeLegibility;
}
html {
  color:rgba(0,0,0, 0.87);
  font-size:1em;line-height:1.4
}
