<ul *ngIf="isMenuButtonDisplayed" id="slide-out" class="side-nav blue-grey lighten-5" style="transform: translateX(0%);">
  <li><div class="userView">
    <div class="background">
      <img src="./app/dashboard/asset/air-G-ok2.jpg">
    </div>
    <div *ngIf="facebookUser">
      <a href="#!user"><img class="circle" src="{{ facebookUser.picture }}"></a>
      <a href="#!name"><span class="white-text name">{{ facebookUser.displayName }}</span></a>
    </div>
  </div></li>
  <li *ngIf="!isLogged()"><a (click)="gotoLogin()"><i class="material-icons">account_circle</i>Connextion</a></li>
  <li><a (click)="gotoHome()"><i class="material-icons">home</i>Page d'accueil</a></li>
  <li *ngIf="isLogged()"><a (click)="logOut()"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>
  <li><div class="divider"></div></li>
</ul>

<nav>
  <div class="nav-wrapper blue-grey darken-2">
    <a *ngIf="isMenuButtonDisplayed" href="#" materialize="sideNav" data-activates="slide-out"
        [materializeActions]="sidenavActions"
        [materializeParams]="[{edge: 'left', closeOnClick: true, draggable: true}]"
        class="button-collapse show-on-large">
      <i class="material-icons">menu</i>
    </a>
    <a *ngIf="isBackButtonDisplayed"
        (click)="gotoHome()" class="button-collapse show-on-large">
      <i class="material-icons">arrow_back</i>
    </a>
    <a *ngIf="isMapButtonDisplayed"
        (click)="switchView()" class="menu-left hide-on-large-only right">
      <i class="material-icons">map</i>
    </a>
    <a *ngIf="!isMapButtonDisplayed"
        (click)="switchView()" class="menu-left hide-on-large-only right">
      <i class="material-icons">dashboard</i>
    </a>
  </div>
</nav>
