<div class="row">
  <!-- Cards container -->
  <div class="col s12 m12 l12">
    <div class="row">
      <!-- Col: Card 1 -->
      <div class="col s12 m6 l5">
        <bottle-card title="Cherche une nounou pour ce soir"></bottle-card>
      </div>
      <!-- End of col -->
      <!-- Col: Card 1 -->
      <div class="col s12 m6 l5">
        <bottle-card title="Besoin d'eau"></bottle-card>
      </div>
      <!-- Col: Card 1 -->
      <div class="col s12 m6 l5">
        <bottle-card title="Besoin d'une couverture"></bottle-card>
      </div>
    </div>
  </div>

</div>
