<div class="card">
  <div class="card-content black-text">
    <span class="bottle-card-title card-title grey-text text-darken-4">{{title}}</span>
    <br />
    <small class="grey-text"><i class="fa fa-clock-o fa-fw"></i> 5 days ago</small>
    <p class="card-subtitle grey-text text-darken-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis
      pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!
    </p>
  </div>
  <div class="card-action">
    <a href="#"><i class="material-icons">&nbsp;language</i>Venir à l'aide</a>
  </div>
</div>
