<div class="card">
  <div class="card-content white-text">
    <div class="card__date">
      <span class="card__date__day">23</span>
      <span class="card__date__month">Mai</span>
    </div>
    <div class="card__meta">
      <a href="#"><i class="small material-icons">room</i>Web Design</a>
      <time>17th March</time>
    </div>
    <span class="card-title grey-text text-darken-4">Savoy swing up</span>

    <p class="card-subtitle grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!</p>
    <span class="blue-text text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;lindy hop, balboa, charleston</span>
  </div>
  <div class="card-action">
    <a href="#"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>
    <a href="#" class="card-action-right"><i class="material-icons">&nbsp;room</i>FIND</a>
  </div>
</div>
