<div id="home" class="yellow-wave">
  <div class="container section valign-wrapper ">
    <div class="row valign lead">
      <div class="col-sm-12 ">
        <div class="intro">
          <div class="social">
            <a (click)="log()" class="btn btn-primary" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
            <a (click)="log()" class="btn btn-danger" target="_blank">
              <i class="fa fa-google"></i>
            </a>
            <a (click)="log()" class="btn btn-info" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
