<menu></menu>

<div class="main-row row">
  <div class="map-col col s0 m0 L5">
    <sebm-google-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">

    </sebm-google-map>
  </div>

  <div class="cards-col col s12 m12 L7">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red">
    <i class="large material-icons">{{ actionButton }}</i>
  </a>
</div>
