.sebm-google-map-container {
  height: 100%;
}
.main-row {
  position: fixed;
  width: 100%;
  top: 62px;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}
.map-col {
  padding-left: 0;
  padding-right: 0;
}
.cards-col {
  height: 100%;
  overflow-y: scroll;
}
.card-info, .card__meta a {
  display: inline-flex;
  vertical-align: middle;
  line-height: 2;
  font-size: 1rem;
}
.card__meta i.small {
  font-size: 1.5rem;
}
.card .card-content .card-title {
  line-height: 34px;
}
