.sebm-google-map-container {
  height: 100%;
}
@media (max-width: 992px) {
  .flexbox {
      display: flex;
      flex-direction: column;
      height: 100%;
  }
}
@media all and (min-width: 0px) and (max-width: 600px) {
  .main-row {
    position: fixed;
    width: 100%;
/*
    top: 55px;
    */
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }

  .flexed {
      background: grey;
      /* The border seems to cause drawing artifacts on transition. Probably a browser bug. */
      /* border: 1px solid black; */
      height:-moz-fit-content;
      height:-webkit-fit-content;
      height:fit-content;
      flex-grow: 1;
      flex: 1;
      transition: flex-grow 200ms linear;
  }

  .removed {
      /* Setting this to zero breaks the transition */
      flex-grow: 0.00001;
      margin-bottom: 56px;
  }
}
@media all and (min-width: 600px) {
  .main-row {
    position: fixed;
    width: 100%;
    top: 62px;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }
}
.map-col {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.cards-col {
  height: 100%;
  overflow-y: scroll;
  z-index: 2;
  background: rgba(255, 255, 255, .5);
}
.card-info, .card__meta a {
  display: inline-flex;
  vertical-align: middle;
  line-height: 2;
  font-size: 1rem;
}
.card__meta i.small {
  font-size: 1.5rem;
}
.card .card-content .card-title {
  line-height: 34px;
}
.fixed-action-btn {
  z-index: 997;
}
menu {
  padding: 0px;
}
