.sebm-google-map-container {
  height: 100%;
}
.main-row, .col {
  float: left;
  box-sizing: border-box;
  padding-left: 0;
  margin-bottom: 0;
}
.card-info, .card__meta a {
  display: inline-flex;
  vertical-align: middle;
  line-height: 2;
  font-size: 1rem;
}
.card__meta i.small {
  font-size: 1.5rem;
}
.card .card-content .card-title {
  line-height: 34px;
}
