
  <div class="card">
    <div class="card-content black-text" *ngIf="bottle">
      <div>
        <span class="card-title activator grey-text text-darken-4">{{ bottle.title }}
          <i class="material-icons right badge" attr.data-badge="{{ bottle.comments?.length }}">comment</i>
        </span>
      </div>
      <br />
      <p class="flow-text grey-text text-darken-2">
        {{ bottle.description }}
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Comments<i class="material-icons right">close</i></span>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="{{ user.picture }}" alt="" class="circle">
            <input #newComment
              placeholder="Ajoute un commentaire"
              (keyup.enter)="addNewComment(newComment.value); newComment.value=''" />
          </li>
        </ul>
        <div *ngIf="hasComment()">
          <ul class="collection collection-comment">
            <li class="collection-item avatar" *ngFor="let comment of comments">
              <comment [comment]="comment"></comment>
            </li>
          </ul>
        </div>
    </div>
  </div>
